*.bin
*.elf
*.zip
*.rar
*.tmp
.pio/
.vscode/
*.o
*.so
*.a
*.dylib
*.class
*.exe
*.dll
*.map
*.log
*.swp
*.bak
ESP32-audioI2S_backup/
libraries_AllIsWell_backup/
ESP32S3_JC3248W535_Radio_OK_Version/
ESP32S3_JC3248W535_Radio_fixed/
ESP32S3_JC3248W535_Radio_MP3OK/
ESP32S3_JC3248W535_SmartClock/
ESP32_Board1_WiFi/
ESP32_Board2_Bluetooth/
Esp32-S3-nes-emulator/
JC3248W535EN/
M5Core2_AIR_Radio/
history_and_logs/
ESP32S3_JC3248W535_Radio_PrePauseFix_Backup/
__pycache__/
*.pyc
